* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----Header -----*/
.header{
  background-color: white;

}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 .navBar{
    align-content: flex-end;
    margin-left: 1vw;
    margin-top: 2vh;
 }

 .titulos{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }
 h1{
    font-family: "Splash", scursive;
    font-weight: 500;
    transition: 300ms;
 }

 /*// Main // */

 .main_title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 /*// Profile // */

 #profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 25px 0px;
 }

 .banner{
  width: auto;
  height: auto;
  border-radius: 1rem;
 }

 .cart_products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


.cart_list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 15px 0px;
}

 .cartcard_product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 0.5rem;
  border-color: rgb(169, 169, 169);
  border: 1px solid;
 }

 .cartcard_product_img img{
  height: 100px;
  width: 100px;
  padding: 5px;
 }
 .cartcard_product_text{
  size: 0.8rem;
  padding: 2px 5px 2px 5px;
 }

 .cartcard_product button{
  margin: 2px 0px 10px 0px;
 }

 .purchase_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
 }

 .profile_button{
  margin: 0px 5px 0px 5px
 }

 #profile .button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 

 /* // Productos // */
 .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 15px;
    padding: 0.7em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
   
 }

 .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }

 .card_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .card-body:hover {
  transform: translateY(-10px);
  box-shadow: 1.25px 1.25px 10px rgba(0, 0, 0, 0.5);
}

 .card-body img{
    width: 150px;
    height: 150px;
 }
 
 #section{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 /* ----- Sign in -----*/
 #signIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/signinbg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode:hue;

 }

 .register_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .register_form h1{
  color:hotpink
 }

 .register_form_form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .register_form_form input{
  border-radius: 0.5rem;
  margin: 10px 5px 10px 5px;
 }

  /* ----- Log in -----*/
 #login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 #login video{
  position: fixed;
  top: 50%; left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 50%;
}

  .login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(240, 248, 255, 0.5);
    margin-top: 40px;
    border-radius: 0.5rem;
  }
  
  .login_form h1{
    margin-top: 20px;
    color:blueviolet
  }

  .login_form_form{
    inherits: true;
  }

  .login_form_form form{
    border-radius: 0.5rem;
  }
  

/* footer */
 /* #footer {
   margin: 1rem;
   border-radius: 1rem;
   background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
   box-shadow: 1rem 1rem 2rem 1rem rgb(116, 110, 110);
   margin-bottom: 1rem;
 }
 #footer div {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   font-size: 3rem;
   align-content: center;
   margin-bottom: 1rem; */
 /* } */
 #fondo{
  background-image: url("../img/fondomb.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }

  /* // Forms // */

 #form{
  background-image: url("../img/formbg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100svh;
 }

 #form .form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 10px 20px;
  background-color: rgba(255, 228, 196, 0.477);
  border-radius: 1rem;
 }

 .form h1{
  margin-top: 30px;
 }

 .form_inputs{
  margin: 10px 5px 10px 5px;
  padding: 10px;

 }

 .form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 25px 0px;
 }

 .form input{
  border-radius: 0.5rem;
  padding: 5px;
 }

  /* // Create Product // */

#createproduct{
  background-image: url("../img/formbg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100svh;
}

.createProduct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 10px 20px;
  background-color: rgba(255, 228, 196, 0.477);
  border-radius: 1rem;
}

.createProduct form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 25px 0px;
 }

 
  /* // Delete Product // */

 #deleteproduct{
  background-image: url("../img/formbg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 #deleteproduct h1{
  color:crimson;
 }

 .delete_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
  min-height: 30vh;
  background-color: rgba(255, 228, 196, 0.477);
  border-radius: 1rem;

 }

 .delete_form input, label, button{
  margin: 10px 5px 10px 5px;
 }

 .delete_form_inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .delete_form_inputs form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .delete_form_inputs input{
  border-radius: 0.5rem;

 }



   /* // Confirm cration of Product // */

 #confirmedcreation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }