
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 .navBar{
    align-content: flex-end;
    margin-left: 1vw;
    margin-top: 2vh;
 }
 .header{
    margin-left: 1vw;
    margin-top: 2vh;
 }
 .titulos{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }
 h1{
    font-family: "Splash", scursive;
    font-weight: 500;
    transition: 300ms;
 }

 /*// Main // */

 .main_title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 /*// Profile // */

 #profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 25px 0px;
 }

 .banner{
  width: auto;
  height: auto;
  border-radius: 1rem;
 }

 .cart_products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


.cart_list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 15px 0px;
}

 .cartcard_product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 0.5rem;
  border-color: rgb(169, 169, 169);
  border: 1px solid;
 }

 .cartcard_product_img img{
  height: 100px;
  width: 100px;
  padding: 5px;
 }
 .cartcard_product_text{
  size: 0.8rem;
  padding: 2px 5px 2px 5px;
 }

 .cartcard_product button{
  margin: 2px 0px 10px 0px;
 }

 .purchase_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
 }

 .profile_button{
  margin: 0px 5px 0px 5px
 }

 /* // Productos // */
 .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 15px;
    padding: 0.7em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
   
 }

 .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }

 .card_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .card-body:hover {
  transform: translateY(-10px);
  box-shadow: 1.25px 1.25px 10px rgba(0, 0, 0, 0.5);
}

 .card-body img{
    width: 150px;
    height: 150px;
 }
 
 #section{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

/* footer */
 /* #footer {
   margin: 1rem;
   border-radius: 1rem;
   background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
   box-shadow: 1rem 1rem 2rem 1rem rgb(116, 110, 110);
   margin-bottom: 1rem;
 }
 #footer div {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   font-size: 3rem;
   align-content: center;
   margin-bottom: 1rem; */
 /* } */
 #fondo{
  background-image: url("../img/fondomb.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }

