<div class="delete_form">
    <h1>Formulario para eliminar producto</h1>
    <div class="delete_form_inputs">
        <form method="post" action="/api/products/delete"><br>
        <label for="pid">Id del producto que deseas borrar</label><br>
        <input type="text" placeholder="Id del Producto" name="pid"/><br>
        <button type="submit">Eliminar Producto</button>
        </form>
    </div>
</div>