<div>
    <div class="container-md">
    <h1>Second Chance. Tu tienda online</h1>
    </div>
     <div class="container-md">
        <img src="./img/ropa.jpg" class="img-fluid" alt="imagen de ropa">
        </div>
</div>
 <footer id="footer">
        <div class="container-md">
            <p class="fs-4">Seguinos en nuestras redes sociales y enterate de todas las novedades.</p>
        </div>
    </footer>