<div class="container-md">
<h1>¿Ya tenes una cuenta?Accede!</h1>
</div>

<div class="container" >
    <form class= "container" method="post" action="/api/session/login">
    <input type="text" placeholder="email" name="email"/><br>
    <input type="password" placeholder="password" name="password"/><br>
    <button type="submit" class="btn btn-outline-dark">Accede</button><br>
    <a href="/resendpass">Olvidaste tu contraseña?</a>
    <div>
   <a href="/api/session/github">Accede utilizando Github</a>
</div>
    </form>
</div>

