<video autoplay muted loop>
   <source src="https://firebasestorage.googleapis.com/v0/b/viene-y-va-8a6ba.appspot.com/o/background_login.mp4?alt=media&token=824bdd05-5306-4b00-aadb-c8b8a5524c3e" type="video/mp4">
</video>
<div class="container-md login_form">
<h1>¿Ya tenes una cuenta?Accede!</h1>
<div class="container login_form_form" >
    <form class= "container" method="post" action="/api/session/login">
    <input type="text" placeholder="email" name="email"/><br>
    <input type="password" placeholder="password" name="password"/><br>
    <button type="submit" class="btn btn-outline-dark">Accede</button><br>
    <a href="/resendpass">Olvidaste tu contraseña?</a>
    <div>
   <a href="/api/session/github">Accede utilizando Github</a>
</div>
    </form>
</div>
</div>


