<div class="container">
<h1>Accediste a tu cuenta</h1>
</div>
<div class="container">
<h2>Bienvenido/a: {{data.user}}. Tu tipo de perfil es: {{data.rol}}</h2>
</div>
 <div class="container-md">
        <img src="./img/th.jpg" class="img-fluid" alt="imagen de ropa">
        </div><br>
    <div class="container">
        <form method="post" action="/api/session/logout">
        <button type="submit" class="btn btn-outline-dark">Cerrar sesion</button>
        </form>
    </div>